html{
  background-color: black;
  color: white;
}
#tab{
  margin-left: 3vw;
}
.heading{
  text-align: center;
  border: 2.5vh solid black;

}
#headingtable{
  background-color: black;
}
h5{
  font-size: 2.2vh;
}
