html{
  background-color: blue;
  color: white;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 2vh;
  margin-bottom: auto;
  font-size: 2vh
}

#maindiv{
  text-align: center;
  background-color: black
}
#tab{
  margin-left: 3vw;
}

.heading{
  text-align: center;
  border-left: 1.2vh solid black;
  border-right: 1.2vh solid black;

}
#headingtable{
  background-color: black;
}
h6{
  font-size: 2.1vh;
  border-top: 0vh;
  border-bottom: 0vh;
}
